<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>
</head>
<body>
    <h1>Задачи для проекта: {{ project.name }}</h1>
    <div class="createTaskContainer">
        <a href="{% url 'create_task' project.project_id %}" class="createTaskButton">Создать задачу</a>
    </div>
    <hr>

    <h2>Список задач</h2>
    {% for task in tasks %}
    <div class="tasks_list">
        <p>{{ task.task_name }} (Текущий статус: {{ task.get_status_display }})</p>

        <form method="POST" action="{% url 'change_task_status' task_id=task.task_id %}" id="form-status-{{ task.task_id }}">
            {% csrf_token %}
            <label for="status">Изменить статус:</label>
            <select id="status-{{ task.task_id }}" name="status" onchange="document.getElementById('form-status-{{ task.task_id }}').submit();">
                <option value="created" {% if task.status == 'created' %}selected{% endif %}>Создана</option>
                <option value="analysis" {% if task.status == 'analysis' %}selected{% endif %}>Анализируется</option>
                <option value="in_process" {% if task.status == 'in_process' %}selected{% endif %}>В работе</option>
                <option value="canceled" {% if task.status == 'canceled' %}selected{% endif %}>Отменена</option>
                <option value="completed" {% if task.status == 'completed' %}selected{% endif %}>Выполнена</option>
                <option value="paused" {% if task.status == 'paused' %}selected{% endif %}>Приостановлена</option>
            </select>
        </form>
    </div>
    {% endfor %}
<p>Project ID: {{ project.id }}</p>
</body>
</html>
